@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: poppins;
    margin: 0;
    padding: 0
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f1729;
}

.container {
    width: 45vw;
    height: auto;
    padding: 2rem;
    background-color: #333a49;
    color: #EEEEEE;
    border: .5px solid rgba(237, 237, 237, 0.5);
    box-shadow: 0px 0px 40px -15px #828df8;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.title .svg-inline--fa {
    height: 1.5rem;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input-field {
    width: 40%;
    font-size: 15px;
    padding: 10px;
    background-color: #0f1729;
    outline: none;
    border: 1px solid #828df8;
    border-radius: 10px;
    margin-right: 20px;
    color-scheme: dark;
    color: white;
}

.input-field:focus {
    border: 2px solid #828df8;
}

input[type='date']{
    color: grey;
}

input[type='date']:focus{
    color: white;
}

.add-btn {
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background: #828df8;
    color: #0f1729;
}

.add-btn:hover {
    background-color: #394cf3;
}

.todos-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.filter-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 25px;
    background-color: #0f1729;
    color: #b3c5ef;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.dropdown-content{
    z-index: 1;
    width: 200px;
    list-style-type: none;
    position: absolute;
    margin-top: 5px;
    background-color: #121d35;
    padding: 8px;
    border-radius: 10px;
}

.dropdown-content li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
}

.dropdown-content li:hover{
    background-color: rgba(128, 128, 128, .2);
}

.dropdown-content li:active{
    background-color: #3ABFF8;
    color: #0f1729;
}

.del-all-btn {
    padding: 15px 25px;
    background-color: #828df8;
    color: #0f1729;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.del-all-btn:hover {
    background-color: #394cf3;
}

#todos {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#todos th {
    border: none;
    padding: 12px;
    font-size: .8rem;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0f1729;
    color: #b3c5ef;
}

#todos td {
    border: none;
    padding: 16px;
    text-align: center;
    background-color: #1d263a;
    color: #b3c5ef;
}

.action-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #00332c;
    font-size: .8rem;
    margin: 0 5px;
    border-radius: 10px;
}

#todos td {
    position: relative;
    padding: 16px;
    text-align: center;
    background-color: #1d263a;
}

#edit-btn{
    background-color: #f4c152;
}

#complete-btn{
    background-color: #2bd4bd;
}

#del-btn{
    background-color: #fb6f84;
}

.empty-inbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}